$line-height-variation: 1.4;

//colors
$clr-dark-blue: hsl(233, 26%, 24%);
$clr-dark: hsl(233, 38%, 8%);
$clr-shadow: hsla(233, 26%, 24%, 0.12);
$clr-lime-green: hsl(136, 65%, 51%);
$clr-bright-cyan: hsl(192, 70%, 51%);
$clr-grayish-blue: hsl(233, 8%, 62%);
$clr-light-grayish-blue: hsl(220, 16%, 96%);
$clr-very-light-gray: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);

//font sizes
$fs-xs: 0.75rem;
$fs-md: 0.875rem;
$fs-base: 1rem;
$fs-xl: 1.125rem;
$fs-2xl: 1.5rem;
$fs-3xl: 2.5rem;
$fs-4xl: 3.5rem;

//font weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;